# public配下を無視
public/*

# articlesディレクトリは追跡対象に戻す
!public/articles/

# articles配下のファイルを無視
public/articles/*

# 特定の記事ファイルのみ追跡
!public/articles/0b5f07debc3b72.md
!public/articles/1d2059be369380.md
!public/articles/650eba2532585a.md
!public/articles/56010618502ccc.md
!public/articles/bba928c9e07af3.md
!public/articles/f45eb5dcda618e.md

# booksディレクトリは追跡対象に戻す
!public/books/

# books配下のファイルを無視
public/books/*

# zenn-book-testディレクトリ
!public/books/zenn-book-test/
public/books/zenn-book-test/*
!public/books/zenn-book-test/config.yaml
!public/books/zenn-book-test/cover.png

# org-mode-bookディレクトリ
!public/books/org-mode-book/
public/books/org-mode-book/*
!public/books/org-mode-book/config.yaml
!public/books/org-mode-book/cover.png

.textlintrc
result
