.textlintrc
result

public/*

!public/articles/
public/articles/*

!public/articles/0b5f07debc3b72.md
!public/articles/1d2059be369380.md
!public/articles/650eba2532585a.md
!public/articles/56010618502ccc.md
!public/articles/bba928c9e07af3.md
!public/articles/f45eb5dcda618e.md

!public/books/
public/books/*

!public/books/zenn-book-test/
public/books/zenn-book-test/*

!public/books/zenn-book-test/config.yaml
!public/books/zenn-book-test/cover.png

!public/books/org-mode-book/
public/books/org-mode-book/*

!public/books/org-mode-book/config.yaml
!public/books/org-mode-book/cover.png
