{{ define "main" }}

<main class="single container">
    <div class="columns">
        <article class="column is-half is-offset-one-quarter">
            <h1 class="title">{{ .Title }}</h1>
            <ul class="info">
                <li>
                    <span class="icon"><i class="far fa-calendar-alt"></i></span>
                    {{ if .Date }}
                        <span><time>{{ .Date | time.Format ":date_medium" }}</time></span>
                    {{ end }}
                </li>
                <li>
                    <span class="icon"><i class="fas fa-hashtag"></i></span>
                    {{ if .Params.tags }}
                        {{ range .Params.tags }}
                            {{ $href := print (absURL "tags/") (urlize .) }}
                            <a href="{{ $href }}">{{ . }}</a>
                        {{ end }}
                    {{ end }}
                </li>
            </ul>
            <div class="content">{{ .Content }}</div>
        </article>
    </div>
    <div class="columns recent-wrapper">
        <div class="column is-half is-offset-one-quarter">
            <ul>
                {{ with .PrevInSection }}
                    <li>
                        <p class="label">Previous</p>
                        <p class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                    </li>
                {{ end }}
                {{ with .NextInSection }}
                    <li>
                        <p class="label">Next</p>
                        <p class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</main>

{{ end }}
