name: Deploy

on:
  push:
    branches:
      - main

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    secrets:
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
  build-zenn:
    runs-on: ubuntu-latest
    needs: ci
    defaults:
      run:
        working-directory: ./zenn
    steps:
      - uses: actions/checkout@v6
      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build zenn
        run: nix build .#build-zenn
      - name: Make directory
        run: mkdir -p public/
      - name: Copy result
        run: cp -r result/* public/
      - name: Deploy Zenn
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./zenn/public
          publish_branch: zenn
          force_orphan: true

  build-devto:
    runs-on: ubuntu-latest
    needs: ci
    defaults:
      run:
        working-directory: ./devto
    steps:
      - uses: actions/checkout@v6
      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build devto (Article Sync format)
        run: nix build .#build-devto
      - name: Prepare articles directory
        run: |
          mkdir -p public/
          rsync -a --chmod=u+w result/ public/
      - name: Sync articles to dev.to
        uses: calvinmclean/article-sync@v1.3.4
        with:
          api_key: ${{ secrets.DEV_TO_TOKEN }}
          article_path: ./devto/public
          type: synchronize
          gh_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create devto branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./devto/public
          publish_branch: devto
          force_orphan: true

  build-hugo:
    runs-on: ubuntu-latest
    needs: ci
    defaults:
      run:
        working-directory: ./hugo
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build hugo
        run: nix build .?submodules=1#build-hugo
      - name: Upload coverage report to artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-hugo
          path: ./hugo/result

  build-hugo-org-roam-ui-lite:
    runs-on: ubuntu-latest
    needs: ci
    defaults:
      run:
        working-directory: ./hugo
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build build-org-roam-ui-lite
        run: nix build .#build-org-roam-ui-lite
      - name: Upload coverage report to artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-hugo-org-roam-ui-lite
          path: ./hugo/result

  build-typst:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./typst
    needs: ci
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: mkdir -p public/pdf/
        run: mkdir -p public/pdf/

      # for PDF
      - name: Generate example-slide
        run: |
          nix build .#example-slide
          cp result/example-slide.pdf public/pdf/
      - name: Generate example-slide-light-theme
        run: |
          nix build .#example-slide-light-theme
          cp result/example-slide-light-theme.pdf public/pdf/
      - name: Generate nix-meetup-3-my-nix-usecase
        run: |
          nix build .#nix-meetup-3-my-nix-usecase
          cp result/nix-meetup-3-my-nix-usecase.pdf public/pdf/
      - name: Generate phperkaigi-2025-pamphlet
        run: |
          nix build .#phperkaigi-2025-pamphlet
          cp result/phperkaigi-2025-pamphlet.pdf public/pdf/
      - name: Generate phperkaigi-2026-pamphlet
        run: |
          nix build .#phperkaigi-2026-pamphlet
          cp result/phperkaigi-2026-pamphlet.pdf public/pdf/
      - name: Generate typst-presentation-practice
        run: |
          nix build .#typst-presentation-practice
          cp result/typst-presentation-practice.pdf public/pdf/
      - name: Generate publishing-nix-series-software-design
        run: |
          nix build .#publishing-nix-series-software-design
          cp result/publishing-nix-series-software-design.pdf public/pdf/

      # for artifacts
      - name: Upload coverage report to artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-typst
          path: ./typst/public/pdf

  deploy:
    permissions:
      contents: write
      pages: write
      id-token: write
    needs:
      - build-hugo
      - build-hugo-org-roam-ui-lite
      - build-typst
    runs-on: ubuntu-latest
    steps:
      - name: Download Hugo site artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-hugo
          path: ./public
          merge-multiple: true
      - name: Download PDF artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-typst
          path: ./public/pdf
          merge-multiple: true

      - name: Download org-roam-ui-lite artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-hugo-org-roam-ui-lite
          path: ./public/graph
          merge-multiple: true
      - name: Move api directory
        run: mv ./public/graph/api ./public/api

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
