header {
    > nav {
        &.nav-shadow {
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05)
        }
        .navbar-brand {
            img {
                border-radius: 50%;
                @media (max-width: 768px) {
                    max-height: 2rem;
                }
                @media (min-width: 768px) {
                    max-height: 2.4rem;
                }
            }
            .navbar-sp {
                padding: .5rem .75rem;
                justify-content: flex-end;
                margin-left: auto;
                @media (min-width: 768px) {
                    display: none;
                }
                .button {
                    border: 0px;
                    span {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .navbar-menu {
            .button {
                border: 0px;
            }
        }
    }
}
